button:not(.manageCtrl) {
    width: 40px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 250px;
}

textarea, .manage {
    display: inline-block;
    vertical-align: top;
}

#count, #multiArea {
    height: 15px;
}

.manageCtrl:not(#addMulti) {
    width: 30%;
}

.buttons > div {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    vertical-align: top;
}